.contentLeft {
    width: 65%;
    min-height: 100vh;
    padding: 18px 0 0 60px;
    position: relative;


    .logo {
        width: 450px;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }

    p {
        font-size: 1.7rem;
        font-weight: auto;
    }

    .content {
        clear: both;
    }

    #cards {
        width: 1050px;
        position: absolute;
        bottom: 0;
        left: 90px;
    }

    @media (max-height: 1080px){
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.7rem;
        }

        #cards {
            width: 800px;
        }
        
    }

    @media (max-height: 880px){
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }

        #cards {
            width: 650px;
        }
    }

    @media (max-height: 770px){
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }

        #cards {
            width: 550px;
        }
    }

    @media (max-height: 700px){
        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }

        #cards {
            width: 550px;
            position: relative;
        }
    }
}