

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white:#FFFFFF;
    --grey: #DDDDDD;
    --red: #FC0A0A;
    --black: #080808;
    --linear-purple: linear-gradient(90deg, #000639 0%, rgba(43, 0, 69, 0.65) 100%);
    --purple: #D81FE8;
}

@media (max-width: 1080px) {
    html{
        font-size: 92.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size:  87.5%;
    }
}

body {
    background: var(--black);
    color: var(--white);
}

body, input, textarea, select, button {
    font: 400 1rem 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}